<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">My Application</title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>
<body>
<header>
    <h1 th:text="${pageTitle}">Welcome</h1>
</header>
<main>
    <div th:replace="~{${mainContent}}"></div>
</main>
<footer>
    <p>&copy; 2024 My Application</p>
</footer>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
