<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/logcss/select.css">
</head>
<body>
    <div class="container">
        <a href="https://your-website.com" class="logo">로고</a> <!-- 클릭 가능한 로고 추가 -->
        <div class="header">
            <p>본 시뮬레이터 결과와 실제 지출은 +-20% 차이가 날 수 있습니다.</p>
        </div>
        <div class="form">
            <select id="course">
                <option>영화</option>
                <option>고깃집</option>
            </select>
            <select id="details">
                <option>추가항목 선택 (예) 옵션, 가격</option>
            </select>
            <button type="submit">추가 버튼</button>
        </div>
        <div class="output">
            <p>현재 추가된 코스</p>
            <ul>
                <li>옵션1</li>
                <li>가격</li>
            </ul>
            <button type="submit">결과 확인</button>
        </div>
    </div>
</body>
</html>
